{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Réservez une table dans notre établissement</h1>
    </div>

    <div class="mx-2">
        {% if errorMessage %}
            <div class="alert alert-danger">{{ errorMessage }}</div>
        {% endif %}
        {% if notificationdanger %}
            <div class="alert alert-danger">{{ notificationdanger }}</div>
        {% endif %}

        {{ form(form) }}
    </div>
{% endblock %}

