{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Créer un nouveau menu</h1>
    </div>

    <div class="mx-2">
        <a href="{{ path('app_admin_menu_index') }}">Retour à la liste</a>
        <hr>
        {{ include('admin_menu/_form.html.twig') }}
    </div>

{% endblock %}
