{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Créer une nouvelle disponibilité</h1>
    </div>

    <div class="mx-2">
        <a href="{{ path('app_admin_dispo_index') }}">Revenir à la liste</a>
        <hr>
        {{ include('admin_dispo/_form.html.twig') }}

    </div>


{% endblock %}
