* {
    font-family: 'Hind Madurai', sans-serif;
}

h1  {
    font-family: 'Lora', serif;
    color: #906427;
}
.navbar{
    background-color: #B6AC97;
    border-radius: 5px;
}

.logo {
    width: 150px;
    height: auto;
}

.imagesize {
    height: 200px;
    width: 300px;
    border-radius: 75px 75px 75px 75px;
}

.img-container {
    position: relative;
}
.title {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    color: #906427;
    background-color: rgba(200, 200, 200, 0.5);
    width: 300px;
    height: 200px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
    border-radius: 75px;
}
.img-container .title:hover {
    opacity: 1;
    border-radius: 75px;
}
.img-container .title .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.img-container .title:hover .text {
    opacity: 1;
    transform: translateY(75px);
    -webkit-transform: translateY(75px);
}

.footer{
    background-color: #B6AC97;
    border-radius: 5px;
}

.footer-text {
    color: #392C1E;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.item2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}

.item3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.btn-custom {
    background-color: #906427;
    color: whitesmoke;
}

.mytitle {
    color: #906427;
}
#map {
    height: 30vh;
    width: 60vw;
    margin: 0 auto;
}