* {
    font-family: Lora, Montserrat, Hind Madurai ;
}

h1  {
    font-family: Montserrat;
}
.navbar{
    background-color: #B6AC97;
    border-radius: 5px;
}

.nav-link{
    color: #47555E;
}

.logo {
    width: 150px;
    height: auto;
}



.facebook {
    width: 25px;
    height: auto;
}

.instagram {
    width: 25px;
    height: auto;
}

.footer{
    background-color: #B6AC97;
    border-radius: 5px;
}

.footer-text {
    color: #47555E;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.item2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}

.item3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
