<form method="post" action="{{ path('app_admin_dish_delete', {'id': dish.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dish.id) }}">
    <button class="btn btn-dark">Supprimer</button>
</form>
