{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Créer un nouveau plat</h1>
    </div>

    <div class="mx-2">
        <a href="{{ path('app_admin_dish_index') }}">Retour à la liste des plats</a>
        <hr>
        {{ include('admin_dish/_form.html.twig') }}
        <br>
    </div>
{% endblock %}
