{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Nos menus</h1>
    </div>
    <br>
    <div class="mx-2">
        {% for menu in menus %}
            <div class="text-center card">
                <h2 class="mytitle">{{ menu|upper }}</h2>
                {% for data in datas %}
                    {% if data.menu == menu %}
                        <div>
                            <h5 class="mytitle">{{ data.formule }}</h5>
                            <p>{{ data.description }}</p>
                            <p>{{ data.prix| number_format(2, ',', ' ') }}€</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}
