{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Accès refusé</h1>
        <a href="{{ path('home') }}" class="btn btn-dark">Revenir vers l'accueil du site</a>
    </div>

{% endblock %}