{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1>Créer une nouvelle formule</h1>
    </div>

    <div class="mx-2">
        <a href="{{ path('app_admin_formula_index') }}">Retour à la liste des formules</a>
        <hr>
        {{ include('admin_formula/_form.html.twig') }}
        <br>

    </div>

{% endblock %}
